body {
	background-color: #1a0f0f;
	padding: 0;
	margin: 0;
}

h1 {
	color: white;
	background-color: #1d6799;
	text-transform: uppercase;
	text-align: center;
	padding: 1.5%;
	margin: 0;
	font-weight: normal;
}

#guessColor {
	display: block;
	font-weight: 600;
	font-size: 1.8em;
}

#menu {
	text-align: center;
	background-color: white;
	height: 30px;
}

#message {
	display: inline-block;
	width: 20%;
}

button {
	text-transform: uppercase;
	font-size: 1.1em;
	background-color: white;
	color: #1d6799;
	outline: none;
	letter-spacing: 0.1em;
	font-weight: 800;
	height: 100%;	
	border: none;
	transition: all 0.35s;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
}

button:hover {
	background-color: #1d6799;
	color: white;
}

.difficulty {
	margin-right: 0.5%;
}

#colorContainer {
	margin: 0 auto;
	padding: 2%;
	border: none;
	max-width: 600px;
}

.colorsToGuess {
	border: none;
	border-radius: 15%;
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	float: left;
	transition: background-color 0.35s ease-out;
	-webkit-transition: background-color 0.35s ease-out;
	-moz-transition: background-color 0.35s ease-out;
}

.selected {
	color: white;
	background-color: #1d6799;
}

.missed {
	background-color: #1a0f0f;
}