body {
	font-family: Roboto;
	background: #2980B9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input {
	width: 100%;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
	height: 40px;
	color: #2980b9;
	font-size: 18px;
	background-color: #ccdfff;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background-color: white;
	outline: none;
	border: 3px solid #2980b9;
}

li {
	height: 40px;
	line-height: 40px;
	color: #666;
	background-color: #ffffff;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

li:hover span {
	width: 40px;
	opacity: 1;
}

span {
	color: white;
	margin-right: 20px;
	text-align: center;
	height: 40px;
	background-color: #e74c3c;
	display: inline-block;
	width: 0;
	opacity: 0;
	transition: 0.2s linear;
}

.done {
	color: gray;
	text-decoration: line-through;
}

.fa-plus {
	float: right;
} 

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}







